body {
  background-image: url("img/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: rgba(167,202,239,0.7);
}

#php {
  display: none;
}

#java {
  display: none;
}

#ruby {
  display: none;
}

#c-sharp {
  display: none;
}

p {
  font-size: 1.5em;
}
